<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315133498434-03jrnvl7al3bu7ec6ki9vkb2473q35s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315133498434-03jrnvl7al3bu7ec6ki9vkb2473q35s2</string>
	<key>API_KEY</key>
	<string>AIzaSyClUWSok-cuAUZl3VZA_wLwwXqYNw6NWpc</string>
	<key>GCM_SENDER_ID</key>
	<string>315133498434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PhuongDong.Purtheo-Expense</string>
	<key>PROJECT_ID</key>
	<string>purtheo-exspense</string>
	<key>STORAGE_BUCKET</key>
	<string>purtheo-exspense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315133498434:ios:70d5353560ba581a6b09db</string>
</dict>
</plist>